/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.all-ads__container {
  h1 {
    text-align: center;
    margin-bottom: 60px;
  }
}

.show__container {
  margin-top: 20px;
}

.ads__container {
  border: 1px solid #f0f0f0;
  min-height: 430px;
  margin-right: 50px;
  margin-bottom: 50px;

  img {
    max-width: 100%;
  }

  p {
    margin-top: 10px;
    margin-left: 10px;
  }

  h1 {
    font-size: 20px;
    min-height: 50px;
    text-align: center;
  }
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
